* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #main-nav {
    list-style-type: none;
    display: none;
    flex-direction: column;
    padding-right: 15px;
  }
  
  #main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .nav-links,
  #logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  #logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  #logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    color: black;
  }
  
  #navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  #navbar-toggle:hover {
    color: rgba(255, 255, 255, 1);
  }

  .div-wanna {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-image: url("img/code.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 40%;
    display: table;
    width: 100%;
    height: 100%;
    /*
    filter: blur(2px);
    -webkit-filter: blur(2px);
    */
}
.text-wanna {
    text-align: center;
    height: 10em;
    display: table-cell;
    padding-top: 2em;
    color: white;
}
.wanna, .journey {
  font-size: 1.5em;
}

.dev {
  font-size: 2em;
}

.text-journey {
  padding: 3em;
  text-align: center;
}

.div-buyusbeer {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  text-align: center;
}
.beer {
  color: white;
  font-size: 1.5em;
  padding-top: 1.5em;
}

.div-us {
  padding: 1em;
}
.div-us img {
  border-radius: 50%;
  height: 220px;
  width: 200px;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 15px;
}

  @media screen and (min-width: 768px) {
  
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #main-nav {
      display: flex !important;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    #main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    #logo {
      margin-top: 0;
    }
  
    #navbar-toggle {
      display: none;
    }

    .div-wanna {
      background-size: 100% auto;
    }

    .text-wanna {
      vertical-align: middle;
      height: 300px;
    }

    .wanna, .journey {
      font-size: 3em;
    }
    
    .dev {
      font-size: 4em;
    }
  
    .text-journey {
      text-align: center;
    }
    .div-us {
      padding: 1em;
    }
    .div-us img {
      border-radius: 50%;
      height: 250px;
      width: 235px;
      padding: 25px;
    }

    a {
      text-decoration: none;
      color: black /*rgba(255, 255, 255, 1) */ ;
    }
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    li {
      display: block;
      padding: 1rem;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;
    }
    
    ul li ul {
      visibility: hidden;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
      background-color: antiquewhite;
    }
  
    ul li:hover > ul,
    ul li:focus-within > ul, /* this is the line we add */
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }

   
    .dropdown a:hover {
      text-shadow: 4px 2px 8px #888888;
      font-size: 17px;
    }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
} 